<html>

<body>
	<h1>Mapa de Classes</h1>

	<table border="1" style="margin: 2pt; padding: 2pt;">
			<tr>
			<th>Pessoa</th>
			<th>Codigo</th>
			<th>Nome</th>
			<th>Idade</th>
			<th>Senha</th>
			<th>Nivel de Acesso</th>
			<th>BTN</th>
		</tr>
		<tr th:each="pessoa, stat : ${pessoas}">
			<td th:text="${stat.index}"></td>
			<td th:text="${pessoa.cd_pessoa}"></td>
			<td th:text="${pessoa.ds_nome}"></td>
			<td th:text="${pessoa.dt_nascimento}"></td>
			<td th:text="${pessoa.ds_senha}"></td>
			<td th:text="${pessoa.nivelAcesso}"></td>
			<td><a th:href="@{/index/{cod}(cod=${pessoa.codigo})}">Selecionar</a></td>
			<td><input type="tel" id="indexValue" th:value="${stat.index}" /></td>
		</tr>
	</table>
	
	<table border="1" style="margin: 2pt; padding: 2pt;">
				<tr>
				<th>Bicicleta</th>
				<th>Codigo</th>
				<th>Descrição</th>
				<th>Status</th>
				<th>Cliente</th>
				<th>Tranca</th>
				<th>Ativo</th>
				<th>BTN</th>
			</tr>
			<tr th:each="bicicleta, stat : ${bicicleta}">
				<td th:text="${stat.index}"></td>
				<td th:text="${bicicleta.codigo}"></td>
				<td th:text="${bicicleta.nome}"></td>
				<td th:text="${bicicleta.idade}"></td>
				<td th:text="${bicicleta.senha}"></td>
				<td th:text="${bicicleta.nivelAcesso}"></td>
				<td><a th:href="@{/index/{cod}(cod=${bicicleta.codigo})}">Selecionar</a></td>
				<td><input type="tel" id="indexValue" th:value="${stat.index}" /></td>
			</tr>
		</table>

</body>

<script>
	// Get the stat.index value passed from Thymeleaf
	var currentIndex = document.getElementById('indexValue').value; // Default value is 0 in case stat.index is not available

	// Control the visibility of the "Voltar" button
	if (currentIndex > 1) {
		document.getElementById('btnVoltar').style.display = 'none';
	} else {
		document.getElementById('btnVoltar').style.display = 'block';
	}
</script>

</html>